:root {
  --container-width: 260px;
}

.modeler {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

#canvas {
  height: 100%;
  width: 100%;
}

.djs-palette {
  width: 48px !important;
}

#properties {
  background: #f8f8f8;
  width: calc(100% - 1px);
  position: absolute;
}

.dmn-definitions {
  display: none;
}

.dmn-js-parent {
  top: 8px;
}

#resize-handler {
  position: absolute;
  width: 260px;
  height: 100%;
  right: 0;
  background-color: #f8f8f8;
  max-width: calc(100% - 29.5px);
}

#resize-handler:after {
  content: " ";
  background-color: #ccc;
  position: absolute;
  left: 0;
  width: 0.5px;
  height: 100%;
  cursor: w-resize;
}

.property-toggle {
  position: absolute;
  left: calc(100% - 29.5px - var(--container-width));
  top: calc(50% + 60px);
  background: #f8f8f8;
  padding: 7px 10px;
  transform: rotate(-90deg);
  white-space: nowrap;
  font-size: 13px;
  border: solid 1px #ccc;
  border-bottom: none;
  border-radius: 2px 2px 0 0;
  transform-origin: top left;
  z-index: 10;
  cursor: default;
  user-select: none;
}
