.modeler {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

#canvas {
  height: 100%;
  width: 100%;
}

.djs-palette {
  width: 48px !important;
}

#properties {
  background: #f8f8f8;
  border-left: 1px solid #cccccc;
}

.dmn-definitions {
  display: none;
}

.dmn-js-parent {
  top: 8px;
}
